<table>
<tr>
    <td><%= @comment.content %></td>
    <td><%= @comment.user_id %></td>
    <td><%= @comment.story_id %></td>
<table>

</table>
</table>
<%= flash[:notice] %>
<%= params %>
<%= @user.nil? %>
<%= @story %>