

<div> 
  <h3> Modify your info </h3>
</br>
</div>


 <%= form_for(:user, :url => {:action => 'update' }) do |f| %>
 
 <div><h4>Personal Info</h4></div>
</br>

  <div class="field" align="center">
    <%= f.label :Nick_Name %>
    <%= f.text_field :name,:style => "height:40px; width:95%" %>
  </div>

    <div class="field" align="center">
    <%= f.label :First_Name %>
    <%= f.text_field :first_name,:style => "height:40px; width:95%" %>
  </div>

    <div class="field" align="center">
    <%= f.label :Last_Name %>
    <%= f.text_field :last_name,:style => "height:40px; width:95%" %>
  </div>
     <div class="field" align="center">
    <%= f.label :Image_URL %>
    <% if @user.image != nil %>
    <%= f.text_field :image,
    :style => "height:40px; width:95%" %>
    <%else%>
    <%= f.text_field :image,
    :style => "height:40px; width:95%" , :value => "http://" %>
    <%end%>
  </div>
  <div class="field" align="center">
     <div class="field" align="center">
    <%= f.label :Birth_date %>
    <div><h6>(yyyy/mm/dd)</h6></div>
    <%begin%>
    <% Date.parse(@user.birth_date)%>
    <%= f.text_field :birth_date,
    :style => "height:40px; width:95%" %>
    <%rescue%>
    <%= f.text_field :birth_date,
    :style => "height:40px; width:95%" , :value => "1990-1-1" %>
    <%end%>
  </div>
     <div class="field" align="center">
    <%= f.label :Gender %>
    <% if @user.gender != nil %>
    <% if @user.gender.include? "male" %>
    <%= f.text_field :gender,
    :style => "height:40px; width:95%" %>
    <%end%>
    <%else%>
    <%= f.text_field :gender,
    :style => "height:40px; width:95%" , :value => "male" %>
    <%end%>
  </div>
</br>
<div><h4>Change Password<h4></div>
</br>
  <div class="field" align="center">
    <%= f.label :Password %>
    <%= f.password_field :password,:style => "height:40px; width:95%"%>
  </div>

  <div class="field" align="center">
    <%= f.label :Password_confirmation %>
    <%= f.password_field :password_confirmation,:style => "height:40px; width:95%"%>
  </div>


  <div class="actions"  align="center">
    <%= submit_tag("Update" ) %>
  </div>

    <% end %>





