

<div> 
  <h3> Modify your info </h3>
</br>
</div>


 <%= form_for(:user, :url => {:action => 'update' }) do |f| %>
 
 <div><h4>Personal Info</h4></div>
</br>

  <div class="field" align="center">
    <%= f.label :Nick_Name %>
    <%= f.text_field :name,:style => "height:40px; width:95%" %>
  </div>

    <div class="field" align="center">
    <%= f.label :First_Name %>
    <%= f.text_field :first_name,:style => "height:40px; width:95%" %>
  </div>

    <div class="field" align="center">
    <%= f.label :Last_Name %>
    <%= f.text_field :last_name,:style => "height:40px; width:95%" %>
  </div>
     <div class="field" align="center">
    <%= f.label :Image_URL %>
    <% if @user.image != nil %>
    <%= f.text_field :image,
    :style => "height:40px; width:95%" %>
    <%else%>
    <%= f.text_field :image,
    :style => "height:40px; width:95%" , :value => "http://example.com/image"%>
    <%end%>
  </div>
  <!-- mouaz alabsawi -->
  <div class="field" align="center">
     <div class="field" align="center">
    <%= f.label :Birth_date %>
    <%= date_select :user, :birth_date, :start_year => 1920, :end_year => 2000  %>
  </div>
     <div class="field" align="center">
<!--     <%= f.label :Gender %>
    <%= radio_button_tag(:gender, "male") %> Male 
    <%= radio_button_tag(:gender, "female") %> Female -->
    <input type="radio" id="user_male" name="user[gender]" value="male" /> Male 
        <input type="radio" id="user_male" name="user[gender]" value="male" /> Female

  </div>
</br>
<!-- a5er mouaz alavbsawi -->
<div><h4>Change Password<h4></div>
</br>
  <div class="field" align="center">
    <%= f.label :Password %>
    <%= f.password_field :password,:style => "height:40px; width:95%"%>
  </div>

  <div class="field" align="center">
    <%= f.label :Password_confirmation %>
    <%= f.password_field :password_confirmation,:style => "height:40px; width:95%"%>
  </div>


  <div class="actions"  align="center">
    <%= submit_tag("Update" ) %>
  </div>

    <% end %>





