


	


<div class="admin_right_panel">
	<h2 class = "logs-take-input" >
 	 <%='User list' %></h2>
	 <ul class="nav nav-list" >
	  <li class="divider"></li>

	</ul>
			<%if @users !=nil%>
		  		<% @users.each do |nf| %>
				<%@user = nf%>	
				<div>
					<span class="pull-left redbadge " style=" -webkit-transform: rotate(-45deg);	
							-moz-transform: rotate(-45deg);
							-ms-transform: rotate(-45deg);
							-o-transform: rotate(-45deg);
							transform: rotate(-45deg); 
							margin-top:40px;">User</span>
                                         
					<% if @user.first_name.nil? %>
					<% name = @user.email %>
					<% else %>
					<% name = @user.first_name %>
					<%  end %>
					<font size="3"><b><%= 
					link_to(name , {:controller => "users", :action => "show",:id => @user.id}) %></b></font>
					
						<div class="well admin_story_feed "  style=" border-right:5px solid #b94a48; ">
							<% if @user.image == nil%>
				     		<%= image_tag "logo.jpeg"  , style: "float:left; margin-right:20px; width=150x; height:150px;" %>
				     		<% else %>
				           <img style="width:150px; height:150px;" src= <%= user.image %> >
				            <% end %>
							<div class"control-panel">
								<% if !(@user.deactivated) %>
								<ul class="nav nav-list">
									<li class="nav-header">Status:</li>
									<span class="greenbadge">Active</span>
									<% elsif @user.deactivated %>
									<ul class="nav nav-list">
										<li class="nav-header">Status:</li>
										<li><span class="redbadge">Deactivated</span></li>
										<% end %>
                                                                               </br></br> <li class="nav-header">E-mail:</li>
										<li><h3><%= @user.email  %></h3></li>
										
									
									<%= link_to "view Statistics", 
													{:controller => 'statistics', :action => 'users',:id => @user.id }, 
													class: "btn btn-primary"  %>
							</div>
					</div>
				</div>
				<%end%>
		<%else%>
				<h2 class="alert alert-error" align="center">No Users to Show !!</h2>
		<%end%>
		<div class="apple_pagination">
		    <%= will_paginate @users, :container => false %>
		  </div>
</div>



	<div class="container-fluid maindiv">
	
	<div class="row-fluid">

	 <div class="admin_main_left_panel">
		 <div class="well sidebar-nav">
	      	<ul class="nav nav-list">
			<li class="nav-header">Directory</li>
			<li class="divider"></li>		
			<li class="active"><a href="/users"><i class="icon-user"></i><font size="4%">Users</font></a>
			<li ><a href="/interests/list"><i class="icon-heart"></i><font size="4%">Interest</font></a>
			<li><a href="/stories"><i class="icon-book"></i><font size="4%">Stories</font></a>
			<li class="divider"></li>
			<li><a href="/admins/statistics/all_users"><i class="icon-signal"></i><font size="4%">Statistics</font></a>
			<li><a href="/logs"><i class="icon-list"></i><font size="4%">Logs</font></a>
			</ul>
			</div>	 <table class="table table-striped table-bodered">
</div>
</div>



