<!-- Kareem New -->
<html> 
  
	<%= form_tag("/mob/friendship/#{@sid}/search_recomend", :method => "get") do %>
	  <%= text_field_tag(:query, "#{@query}", :style => "height:40px;",
	  									 :placeholder => 'Search') %>
	  <%= submit_tag('Search', :class => 'btn pull-right', :style => "height:40px;",) %>
	<% end %>


	<% if @query.nil? or @query == ''%>
		<h5> No results </h5>
	<% else %>
		<ul class="nav nav-list">
			<table style="width:100%;">
				<tr>
		 	<td align="left"><font size = "4"><b align ="left">Search Results</b></font></td>
		 	<td  align="right">	<%= link_to 'Back to Story',{:controller => 'stories',
					:action => 'get' , :id => "#{@sid}" }, 
					class: "btn btn-small" %></td>
				</tr></table>
			</ul>
				<ul class="nav nav-list ">
				<!--                -->	
				<%if @resulted_users == [] %>
				<br>
				<br>
				<h5>No Matches Found</h5>
				<%else%> 
				<!--                -->	
			<% @resulted_users.each do |member| %>
				<li class="divider"></li>
				<li><b> <%= if member.name.nil?  then member.email.split('@').first else "#{member.name}  (#{member.email})"  end %> </b></li>
					<div align="right">
				<%=	
					link_to 'Recomend Story',{:controller => 'friendships',
						:action => 'remove', 
						:friend_id => member.id, 
						:query_forward => @query}, 
						class: "btn btn-warning btn-small"
				 %>
				</div>
			<% end %>	
		</ul>
	<% end %>
	<%end%>

</html>
