

<!--kareem new -->
<html>
<div align = "center" class = "well">
	<h4 style = "background-color:#C0C0C0;">Story title: <%=Story.find(@storyid).title%></h4>
</div>
<br>

<% if current_user.friends != [] %>
<div align="center" class="well">
<p> Search for a Friend: </p><br>
<div align="center">
	<%= form_tag("/mob/friendship/#{@storyid}/search_recomend", :method => "get") do %>
  <%= text_field_tag(:query, "#{@query}", :style => "height:40px;width:80%",
  									 :placeholder => 'Search') %>
  <br><%= submit_tag('Search', :class => 'btn', :style => "height:30px;width:40%",) %>

 <% end %>
</div>
</div>
<h3 align = "center"> Recommendation by E-mail: </h3> 
<% end %>




<!--kareem new -->

<!-- Auther: khaled.elbhaey -->
<div align="center" class = "well">
	<div id="submit">
		<form action="/mob/stories/recommend_success_mobile_show/<%= @storyid%>"><!-- form which the user fill input in -->
			<div id="recommendation">
					
					<p>Write an E-mail manually:</p>
			
			  
			<input type="text" name="email" id="fmail" style ="height:30px; width:80%" placeholder ="E-mail"/>
			<br>
			<p>Recommendation Message:</p>
			<textarea rows="2" cols ="20" name="message" placeholder ="Message"></textarea>
			<br>  
			<input type="submit" name="commit" value="send" style= "width:100px" />
		</form>	
	</div>
</div>
</html>