<%= form_for(@user_session) do |f| %>
      <%= f.label :email %>
<div class="field" align="center">
    <%= f.text_field :email,:style => "height:40px; width:200px" %>
  </div>
  
    <%= f.label :password %>
<div class="field" align="center">
    <%= f.password_field :password,:style => "height:40px; width:200px"%>
  </div>
  <div class="actions" align="center">
    <%= f.submit "Login", :style => "width:100px" %>
  </div>
<% end %>

<p align="center"><font size="3">Don't have an account yet? <%= link_to "Sign-up", new_user_path %> now!</font></p>
<p align="center"><font size="3">If you forgot your password you can <%= link_to "Request a new Password", {:controller => 'users', :action => 'forgot_password'} %></font></p>

